
    <div class="row">
      <div class="col-md-8" >
        <app-cover></app-cover>
      </div>
  
      <div class="col-md-4" >
        <app-more-new></app-more-new>
      </div>
    </div>
    <div class="container">
      <app-trending></app-trending>
      <app-happening-now></app-happening-now>
      
    </div>
    <div id="footer">
      <div class="container">
        <div class="row" >
    
          <div class="col-md-5 mb-3">
              <div class="main">
                  <div class="left">
                      <label>LOGO</label>
                  </div>
                  <div class="right">
                      <table class="table">
                          <tr><td>Home</td><td>About</td><td>Testimonials</td></tr>
                          <tr><td>Discovery</td><td>Help</td><td>Advertise</td></tr>
                          <tr><td>Photos</td><td>Terms</td><td>Integrations</td></tr>
                          <tr><td>Contants</td><td>GridLines</td><td>Careers</td></tr>
                      </table>
                  </div>
              </div>
          </div>
          <div class="col-md-5 mb-3">
              <div class="input-wrapper">
                  <input type="text" id="type" placeholder="Type...">
                  <button class="icon-button"><i class="fa-solid fa-paper-plane"></i></button>
                </div>
              <span>Connect with us.</span>
                
          </div>
          <div class="col-md-2 mb-3">
              <div class="icons">
                  <i class="fa-brands fa-instagram"></i>
                  <i class="fa-brands fa-twitter"></i>
                  <i class="fa-brands fa-facebook-f"></i>
                  <i class="fa-solid fa-earth-americas"></i>
              </div>
          </div>
      </div>
      </div>
    </div>
   
    
      
        
      


  