<div class="main_div">
    <img src="../../../assets/images/cover.jpg" alt="" width="100%" height="100%">

    <div class="card">
        <div class="header">
            <label>World news</label>
        </div>
        <div class="body">
            <p>Amazing Places in America to visit.</p>
            <span>
                For some reason - this country, this city, this neighborhood, this particular street - is the place you are living a majourity of your life in.
            </span>
        </div>
        <div class="footer">
            <button class="btnFooter">Learn more</button>
        </div>
    </div>
</div>